<h1 class="center-align"> <%= @build.name %> <br>
  by <%= link_to @build.user.username, user_path(@build.user) %> </h1>
<% @categories.each do |category| %>
  <%= render 'product_tables', category: category %>
<% end %>
<%= render 'form' %>
