<div class="profile-page">
  <h1 class="center-align"><%= @user.username %></h1>
  <div class="center-pic">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
  <br>
  <h3 class="center-align">About <%= @user.username %></h3>
</div>
