/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("grey", "darken-2") !default;
$secondary-color: color("#ffa500", "base") !default;
@import 'materialize';


.landing-page {
  z-index: -1;
  background: url("BMP_Background_Crop.png") no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  color: #f0f0f0;
  margin-top: -65px;
  h1 {
  margin-top: 145px;
  font-size: 54px;
  }
  h6 {
    font-size: 22px;
    line-height: 30px;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .hero-primary {
    z-index: 1;
    top: 30%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
    position: absolute;
    text-shadow: -2px 1px 2px #000;
  }
}

.hero-secondary {
text-shadow: -1px 1px 1px #000;
font-size: 24px
}

nav {
  z-index: 2;
  background-color: none !important;

}

.profile-page {
  height: 100vh;
  // width: 100vw;
}

.full-height {
  min-height: 90vh;
}

.comment-margin {
  margin-bottom: 100px;
}

a {
  color: #ffa500
}

.card-content {
  max-height: 150px;
  overflow: scroll;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

td, th {
  width: 100% !important;
}

.page-footer-landing {
  background-color: #000 !important;
  box-shadow: 0px -20px 20px #000000;
}

.page-footer {
  background-color: #000 !important;
}

.header-tag {
  color: grey;
}

.primary-font {
  font-family: 'Rubik', sans-serif;
}

.secondary-font {
  font-family: 'Abel', sans-serif;
}

.footer-margin-bottom {
  margin-bottom: 0;
}

.footer-margin-top {
  margin-top: 0;
}

.btn {
  background-color: orange;
}

.landing-btn {
  position: relative;
  margin-top: 5%;
}

.navbarhome {
  background-color: rgba(97, 97, 97, 0);
  box-shadow: none;
}

.center-pic {
  margin: auto;
  width: 30%;
}
