/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("grey", "darken-2") !default;
$secondary-color: color("#ffa500", "base") !default;
@import 'materialize';

html {
  min-height: 100vh;
}

body {
  height: 100%;
  min-height: 100vh;
  padding-bottom: 338.38px;
  position: relative;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.center-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background {
  background: url("yosemite2.jpg") no-repeat center ;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
  z-index: -1;
}

.landing-page {
  position: relative;
  height: 95vh;
  width: 100vw;
  color: white;
  // top: -64px;
  h1 {
  margin-top: 0;
  }
  .content {
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
}

nav {
  z-index: 2;
  position: relative;
}

.profile-page {
  height: 100vh;
  // width: 100vw;
}

.full-height {
  height: 90vh;
}

.comment-margin {
  margin-bottom: 100px;
}

.hero {
  text-shadow: 2px 2px 1px #000
}

a {
  color: #ffa500
}

.card-content {
  max-height: 150px;
  overflow: scroll;
}
