<div class="landing-page">
  <div class="background"></div>
    <div class="hero-primary center-align">
      <h1 class="primary-font center-align">Traverse the Earth equipped for anything</h1>
      <h6 class="hero-secondary secondary-font center-align">Build My Backpack is a community built around helping one another get outside with the best loadout possible. From discussion about this season's best gear, to this season's best hikes, Build My Backpack hosts thousands of users as the world's best place to congregate online, as all who love the outdoors.</h6>
      <div class="landing-btn center-align">
        <!-- <button type="button" name="button" class="btn">Get Started!</button> -->
      </div>
    </div>
</div>
