<h1 class="center-align">Welcome To Build My Backpack</h1>
<%= image_tag 'yosemite2.jpg', class: 'background-image' %>
<h6 class="center-align">Build My Backpack is a community built around helping one another get outside with the best loadout possible. From discussion about this season's best gear, to this season's best hikes, Build My Backpack hosts thousands of users as the world's best place to congregate online, as all who love the outdoors.</h6>
