<div class="full-height">
  <h1 class="center-align">Create New Product</h1>
  <%= render 'form' %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
