<% if object.errors.any? %>
  <h3>Oops! There were some errors. Please review and try again:</h3>

  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
